name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "staging or production"
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v2

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init \
          -backend-config="bucket=cloud-resume-terraform-state" \
          -backend-config="key=${{ github.event.inputs.environment }}/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="dynamodb_table=terraform-locks"

      - name: Terraform Destroy
        run: terraform destroy -auto-approve


